
//#main_screen{
//    max-width:600px;
//    //height: 400px
//    background: #ddd;
//    position: relative;
//}

body {

       margin: 0;

       .grid{
            max-width:600px;
            //height: 400px
            background: #ddd;
            position: relative;
            margin: 0;

      .cell{
            position: absolute;
            border: 1px solid #000;
            &.type-0{
              background-color:brown;
            }
            &.type-1{
              background-color: white;
            }
            &.type-2{
              background-color: white;
            }
      }
      .tile{
                box-sizing: border-box;
                position: absolute;
                border: 0.5px solid khaki;
                background-color: #f00;
                display: table-cell;
                border-collapse: collapse;
      }
      .number-on-valid-cell{
            color: yellow;
      }
      .number-out{
            color: black;
      }
    }
  }
