
//#main_screen{
//    max-width:600px;
//    //height: 400px
//    background: #ddd;
//    position: relative;
//}

body {

       .grid{
            max-width:600px;
            //height: 400px
            background: #ddd;
            position: relative;

      .cell{
            position: absolute;
            border: 1px solid #000;
            &.type-0{
              background-color:brown;
            }
            &.type-1{
              background-color: white;
            }
            &.type-2{
              background-color: white;
            }
      }
      .tile{
            position: absolute;
            border: 1px solid #000;
            background-color:red;
      }
    }
  }
